// body color start

$body-color: #333333;

// body color end

// цвета

$primary:               #FBD846;
$secondary:             #99CB38;
$tertiary:              #333333;
$quaternary:            #F5F5F5;

$six:                   #818181;
$eight:                 #8C8C8C;
$silver-chalice:        #B2B2B2;
$wild-sand:             #F4F4F4;
$white-aluminum:        #B0B0B0;
$gainsborough:          #E6E6E6;
$signal-black:          #262626;

$white:                 #FFFFFF;

$theme-colors: (
        // btn start

        "primary":              $primary,
        "secondary":            $secondary,
        "tertiary":             $tertiary,
        "quaternary":           $quaternary,

        // btn end

        "silver-chalice":       $silver-chalice,
        "wild-sand":            $wild-sand,
        "white":                $white,
        "six":                  $six,
        "eight":                $eight,
        "white-aluminum":       $white-aluminum,
        "gainsborough":         $gainsborough,
        "signal-black":         $signal-black,
);

// цвета конец


// паддинги и марджины

$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,   // 4
        2: $spacer * .5,    // 8
        3: $spacer,         // 16
        4: $spacer * 1.25,  // 20
        5: $spacer * 1.5,   // 24
        6: $spacer * 2,     // 32
        7: $spacer * 2.5,   // 40
        8: $spacer * 3,     // 48
        9: $spacer * 3.5,   // 56
        10: $spacer * 4,    // 64
        11: $spacer * 4.5,  // 72
        12: $spacer * 5,    // 80
        13: $spacer * 5.5,  // 88
        14: $spacer * 6,    // 96
        15: $spacer * 6.5,  // 104
        16: $spacer * 7     // 112
);

// паддинги и марджины конец


// шрифты

$font-family-base:            'Montserrat';
$font-size-root:              16px;
$font-size-base:              1rem;


$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-black:           900;
$font-weight-bolder:          bolder;

$h1-font-size:                $font-size-base * 2.5;    // 40px
$h2-font-size:                $font-size-base * 2;      // 32px
$h3-font-size:                $font-size-base * 1.75;   // 28px
$h4-font-size:                $font-size-base * 1.5;    // 24px
$h5-font-size:                $font-size-base * 1.25;   // 20px
$h6-font-size:                $font-size-base;          // 16px

$md-text-font-size:           $font-size-base * 1.125;  // 18px
$sm-text-font-size:           $font-size-base * 0.875;  // 14px
$h9-font-size:                $font-size-base * 1.375;  // 22px
$h10-font-size:               $font-size-base * 0.625;  // 10px

$font-sizes: (
        1: $h1-font-size,
        2: $h2-font-size,
        3: $h3-font-size,
        4: $h4-font-size,
        5: $h5-font-size,
        6: $h6-font-size,
        7: $sm-text-font-size,
        8: $md-text-font-size,
        9: $h9-font-size,
        10: $h10-font-size,
);


// шрифты конец

// сетка

$grid-gutter-width: 30px;

// точки для css - работают от нуля и до 1200,
// то есть мобильная версия потом уже компьютерная версия
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
);

// размер контейнера
$container-max-widths: (
        md: 720px,
        lg: 960px,
        xl: 1170px
);

// сетка конец

// navbar start

$navbar-padding-y: 18px;

$navbar-light-active-color: $secondary;
$navbar-light-hover-color: $secondary;
$navbar-light-color: $tertiary;

$nav-link-font-size: $sm-text-font-size;
$nav-link-font-weight: $font-weight-semibold;

// navbar end

// btn start

$btn-padding-x: 0.875rem;                   // 14px
$btn-padding-y: 1rem;                       // 16px
$btn-font-size: 1rem;                       // 16px
$btn-border-radius: 1.75rem;                // 28px
$btn-font-weight: $font-weight-bold;        // 700

// btn end


// form-control start

$input-padding-x: 1.25rem;
$input-padding-y:  1rem;
$input-font-size:  1.25rem;
$input-color: $tertiary;
$input-bg: transparent;
$input-border-color: $white-aluminum;
$input-border-radius: 2rem;

$input-placeholder-color: $white-aluminum;

$input-focus-border-color: $primary;
$input-box-shadow: none;
$input-focus-box-shadow: none;


// form-control end