.header {
    & .navbar {
        box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    }

    & .navbar-toggler:focus {
        box-shadow: none;
    }

    & .navbar-toggler .navbar-toggler-icon {
        &.hide {
            display: none;
        }
    }

    & .navbar-toggler .btn-close {
        display: none;

        &.show {
            display: inline;
        }
    }

    & .navbar-collapse.collapsing {
        -webkit-transition: height 0.01s;
        -moz-transition: height 0.01s;
        -ms-transition: height 0.01s;
        -o-transition: height 0.01s;
        transition: height 0.01s;
    }

    &__location {
        width: 15px;
        height: 19px;
        background-image: url("/assets/build/img/location-yellow.svg");
    }

    @media (max-width: 1199px) {
        &-navbar__nav-item {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: auto;
        }
    }

}
