.kitchen-modules {
    &__img-wrap {
        height: 100%;
    }

    &__img-desc {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -20px;
        left: -20px;
        right: 0;
        bottom: 0;
    }

    @include media-breakpoint-down(sm) {
        &__img-wrap {
            height: 200px;
        }

        &__img-desc {
            width: 98%;
            height: 98%;
            top: -5px;
            left: -5px;

        }
    }
}