.promo-top {
    background-image: url("/assets/build/img/promo-top-kitchen.png");
    background-size: 42.5% 100%;
    background-position: right;
    background-repeat: no-repeat;

    @media (max-width: 1199px) {
        background-image: none;
    }
}