.btn-outline-primary {
    color: $tertiary;
    filter: drop-shadow(2px 2px 4px rgba(255, 216, 111, 0.4));
    transition: background-color 0.5s;
}

.btn-primary {
    background-color: linear-gradient(269.89deg, $primary 0.07%, #FFE888 99.89%);
    box-shadow: 10px 10px 20px rgba(255, 216, 111, 0.4);
    transition: background-color 0.5s;

    &:hover {
        background-color: #FFE888;
    }
}

.btn-secondary {
    box-shadow: 10px 10px 20px rgba(255, 216, 111, 0.4);
    transition: background-color 0.5s;
}

.btn-quaternary {
    color: $eight;
    font-weight: $font-weight-normal;
    transition: background-color 0.5s;

    &:hover {
        background-color: $primary;
        font-weight: $font-weight-bold;
    }
}

.btn-plus {
    width: 40px;
    height: 40px;
    background-color: $wild-sand;
    background-image: url("data:image/svg+xml, %3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.695312 10.5008H20.3098M10.5026 0.693359V20.3078' stroke='%2399CB38' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    border-radius: 100%;
    transition: background-color 0.5s;

    &:hover {
        background-color: $secondary;
        background-image: url("data:image/svg+xml, %3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.695312 10.5008H20.3098M10.5026 0.693359V20.3078' stroke='%23F4F4F4' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E")
    }
}

.btn-lens {
    width: 50px;
    height: 50px;
    background-color: $primary;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.90781 0.46875C13.5699 0.46875 17.3469 4.2457 17.3469 8.90781C17.3469 10.923 16.6422 12.7707 15.4648 14.223L21.2656 20.0238C21.6094 20.3676 21.6094 20.9219 21.2656 21.2656C20.9219 21.6094 20.3676 21.6094 20.0238 21.2656L14.223 15.4648C12.7707 16.6422 10.923 17.3469 8.90781 17.3469C4.2457 17.3469 0.468746 13.5699 0.468746 8.90781C0.468746 4.2457 4.25 0.46875 8.90781 0.46875ZM8.90781 15.5937C12.5988 15.5937 15.5937 12.5988 15.5937 8.90781C15.5937 5.2168 12.5988 2.22187 8.90781 2.22187C5.21679 2.22187 2.22187 5.2168 2.22187 8.90781C2.22187 12.5988 5.21679 15.5937 8.90781 15.5937Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    border-radius: 100%;
    transition: background-color 0.5s;

    &:hover {
        background-color: #ffe888;
    }
}