.form-control-file {
    & .file-text {
        cursor: pointer;
    }

    & .file-icon {
        display: block;
        width: 50px;
        height: 50px;
        background-color: $primary;
        background-image: url('data:image/svg+xml, %3Csvg width="15" height="30" viewBox="0 0 15 30" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M3.33333 6.01227V22.8392C3.33333 22.8392 3.02333 26.3707 7.56833 26.3707C11.6667 26.3707 11.6667 22.8392 11.6667 22.8392V5.14191C11.6667 5.14191 11.6667 0.5 5.83333 0.5C0 0.5 0 5.14191 0 5.14191V22.8392C0 22.8392 0 29.5119 7.5 29.5119C15 29.5119 15 22.8392 15 22.8392V5.14191C15 4.41661 13.3333 4.41661 13.3333 5.14191V22.8392C13.3333 22.8392 13.94 28.1932 7.5 28.1932C1.66667 28.1932 1.66667 22.8392 1.66667 22.8392V5.14191C1.66667 5.14191 1.66667 1.81872 5.83333 1.81872C10 1.81872 10 5.14191 10 5.14191V22.8392C10 22.8392 10 24.9202 7.56833 24.9202C5.13671 24.9202 5 22.8392 5 22.8392V6.01227C5 5.28697 3.33333 5.28697 3.33333 6.01227Z" fill="white"/%3E%3C/svg%3E');
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 2rem;
        cursor: pointer;
    }

    & input {
        display: none;
    }
}

.form-control-check-tab {

    & input {
        display: none;

        &:checked + .form-control-check-tab-body {
            border-color: $primary;
        }

        &:checked + .form-control-check-tab-body:before {
            content: '';
            background-color: $primary;
        }
    }

    .form-control-check-tab-body {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 3px solid $gainsborough;
        border-radius: 10px;
        position: relative;
        transition: border 0.5s;

        &:before {
            content: '';
            position: absolute;
            top: 15px;
            left: 15px;
            display: block;
            width: 30px;
            height: 30px;
            border: 5px solid $white;
            background-color: $white;
            box-shadow: 4px 4px 10px 4px rgba(0,0,0,.1);
            border-radius: 100%;
            transition: background-color 0.5s;
        }

        & div {
            height: 220px;
        }
    }
}

.form-control-check-bg-fill {
    display: block;

    & input {
        display: none;

        &:checked + .control-body {
            outline-color: $primary;
        }

        &:checked + .control-body:before {
            content: '';
            background-color: $primary;
        }
    }

    .control-body {
        height: 250px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        outline: 3px solid $gainsborough;
        border-radius: 10px;
        position: relative;
        transition: border 0.5s;

        &:before {
            content: '';
            position: absolute;
            top: 15px;
            left: 15px;
            display: block;
            width: 30px;
            height: 30px;
            border: 5px solid $white;
            background-color: $white;
            box-shadow: 4px 4px 10px 4px rgba(0,0,0,.1);
            border-radius: 100%;
            transition: background-color 0.5s;
        }

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
}

.form-control-check-inline {
    & input {
        display: none;

        &:checked + .control-body {
            outline-color: $primary;
        }

        &:checked + .control-body:before {
            content: '';
            background-color: $primary;
        }
    }

    .control-body {
        padding: 15px 15px 15px 80px;
        border:  1px solid $gainsborough;
        border-radius: 32px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 15px;
            left: 20px;
            display: block;
            width: 30px;
            height: 30px;
            border: 5px solid $white;
            background-color: $white;
            box-shadow: 4px 4px 10px 4px rgba(0,0,0,.1);
            border-radius: 100%;
            transition: background-color 0.5s;
        }

        & p:after {
            content: ' ₽';
            font-size: 16px;
        }
    }
}
